@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Play:wght@400;700&display=swap');
@import 'typographies';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --col-padding: 1rem;
    --col-max-w: 80rem;

    @screen md {
      --col-padding: 4rem;
    }
  }

  html,
  body {
    height: 100%;
  }

  body {
    @apply bg-gray-900 font-cabin text-white;
  }

  ::selection {
    @apply bg-red-700 text-gray-900;
  }
}

@layer utilities {
  .col-wrapper {
    @apply md:mx-auto;
    padding: 0 var(--col-padding);
    max-width: var(--col-max-w);
  }

  .col-center {
    @apply flex flex-col items-center justify-center;
  }
}
